<div class="conatainer login">
    <div class="row justify-content-center align-items-center">
        <div class="col mt-5">
            <div class="card" style="width: 100%;">
                <div class="card text-center">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <button (click)="acceder()" type="button" class="btn btn-outline-primary"> 
                            <i class="fa fa-user"></i>
                            Acceder
                        </button>    
                        <button (click)="logOut()" type="button" class="btn btn-outline-primary"> 
                            <i class="fa fa-user"></i>
                            Salir
                        </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
