.l-redes-float {
    display: inline-block !important;
    position: fixed;
    z-index: 5000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #00395e;
    border-top-right-radius: 20px;
    padding: 5px;
    padding-bottom: 1px;
    border-top-left-radius: 20px;
    width: 270px;
    border: 1px solid #009cde;
    border-bottom: 0;
}

.l-redes-float img {
    width: 32px;
}

.l-redes-float .redes_sociales a {
    padding-right: 10px;
}