<div class="container-fluid footer1 mt-5">
    <div class="row align-items-center justify-content-center pt-3">
        <div class="col-12 col-md-3 d-flex justify-content-center">
            <img src="../../../assets/images/footer_buap_logo.png" alt="">
        </div>
        <div class="col-12 col-md-3">
            <ul>
                <li>Benemérita Universidad Autónoma</li>
                <li>de Puebla, 4 sur 104 Centro Histórico</li>
                <li>C.P. 72000</li>
                <li>Teléfono +52(222) 2295500</li>
            </ul>
        </div>
        <div class="col-12 col-md-3 d-flex justify-content-center">
            <img src="../../../assets/images/fce_logo2.png" alt="">
        </div>
        <div class="col-12 col-md-3">
            <ul>
                <li>Facultad de Ciencias de la Electrónica</li>
                <li>Av. San Claudio y 18 Sur Edif. FCE1</li>
                <li>Col. San Manuel, Ciudad Universitaria,</li>
                <li>Puebla, Pue. CP 72570</li>
                <li>Tel: 01 (222) 229 55 00 Ext 7400 y 7401</li>
                <li>Aviso de privacidad</li>
            </ul>
        </div>
    </div>

    <div class="row footer2 align-items-center">
        <div class="col text-center">
            <p>Facultad de Ciencias de la Electrónica, FCE. Todos los derechos reservados © 2018.</p>
        </div>
    </div>
</div>