<div class="container-fluid footer-color">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-3 mt-4  card-footer">
            <img class="buap-logo" src="../../../assets/images/footer_buap_logo.png" alt="">
        </div>
        <div class="col-12 col-md-3 mt-3 card-footer">
            <ul>
                <li>Benemérita Universidad Autónoma</li>
                <li>de Puebla, 4 sur 104 Centro Histórico</li>
                <li>C.P. 72000</li>
                <li>Teléfono +52(222) 2295500</li>
            </ul>
        </div>
        <div class="col-12 col-md-3 mt-3  card-footer ">
            <img class="fce-image" src="../../../assets/images/fce_logo2.png" alt="">
        </div>
        <div class="col-12 col-md-3 mt-3 mb-3  card-footer">
            <ul>
                <li>Facultad de Ciencias de la Electrónica</li>
                <li>Av. San Claudio y 18 Sur Edif. FCE1</li>
                <li>Col. San Manuel, Ciudad Universitaria,</li>
                <li>Puebla, Pue. CP 72570</li>
                <li>Tel: 01 (222) 229 55 00 Ext 7400 y 7401</li>
                <li>Aviso de privacidad</li>
            </ul>
        </div>
    </div>

    <div class="row footer2 align-items-center">
        <div class="col text-center">
            <p>Facultad de Ciencias de la Electrónica, FCE. Todos los derechos reservados © 2024.</p>
        </div>
    </div>
</div>

<a href="#" style="display: none;"><img src="https://www.buap.mx/sites/all/themes/nuevo_sitio/img/ingles2.png"></a>
<div class="fluid-container social-icons pt-3 pb-3">
    
</div>
