<div class="container edit-placeholder">
    <div class="row justify-content-center">
        <div class="col-12 container-flex">
            <div class="arrow-container">
                <button (click)="back()" color="primary" mat-button>
                    <mat-icon class="arrow-button">arrow_back</mat-icon>
                </button>
            </div>
            <div class="arrow-container">
                <h3>Editando: </h3>
            </div>
            <span></span>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <h4>Nombre</h4>
            <input class="form-control" type="text" placeholder="Nombre" aria-label="default input example">
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <h4>Link</h4>
            <input class="form-control" type="text" placeholder="Link" aria-label="default input example">
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <h4>Imagen</h4>
            <input class="form-control" type="file" placeholder="Cargar imagen" aria-label="default input example">
        </div>
    </div>        

    <div class="row justify-content-end ">
        <div class="col-12 d-flex justify-content-end mt-5 mb-5">
            <button type="button" class="btn btn-danger ">Cancelar</button>
            <button type="button" class="btn btn-success disabled ms-3">Guardar</button>
        </div>
    </div>
</div>
