.dashboard-background {
    align-items: center;
    display: flex;
    background-image: url("src\assets\images\renovables.jpeg");
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh;
    justify-content: space-between;
    width: 100%;
}

.contenedor-con-fondo {
    position: relative;
    background-image: url('src\assets\images\Fce_fondo.jpg'); /* Cambia 'tu-imagen.jpg' por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Esto mantiene la imagen fija durante el desplazamiento */
    min-height: 45vh; 
    color: var(--blanco);
}

/* Luego se movera a el componente */
.carreras-centered {
    color: aliceblue;
    text-align: center;
}

.btn-primary {
    background-color: var(--azul_calro);
    border-color: transparent;
}
.btn-primary:hover {
   transform: scale(1.1); 
}

.texto_centrado {
    text-align: center;
}

.card:hover {
    transform: scale(1.01);
}
.card:hover i {
    color: var(--azul_calro);
}

.ingr-egr {
    cursor: pointer;
    height: 100%;
}
