
.contenedor {
    background-image: url('../../../assets/images/Fce_fondo.jpg'); /* Cambia 'tu-imagen-de-fondo.jpg' por el nombre de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white; /* Ajusta el color del texto según tu imagen de fondo */
}