<div class="container-fluid mt-3">
    <div class="row card-carreras">    
        <div class="col-4 image-holder">
            <div class="image-cover"></div>
        </div>
        <div class="col ">
            <div class="row">
                <div class="col">
                    <h2>{{carrera.nombre}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{carrera.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>      
</div>
