.image-cover {
    background-image: url('../../../assets/images/Fce_fondo.jpg');
    width: 100%; 
    height: 200px; 
    background-size: cover;
    background-position: center;
    border-radius: 1.5%;
}

.image-holder {
    padding: 0%;
}

.card-carreras {
    margin-left: 2em;
    margin-right: 2em;
}

.card-carreras:hover {
    border-radius: 20px;
    background-color: var(--neutro_activo);
    transform: scale(1.01);
}