
<div class="container editar-dashboard" id="inicio">
    <div class="row Titular-dashboard">
        <div class="col-4">
            <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa-solid fa-angles-right fa-xl"></i>
            </button>
        </div>
        <div class="col-4 text-center">
            <h3>Licenciaturas</h3>
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="col-4">
            
        </div>
            
        <div class="row">
            <div class="col">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">    
                    <!-- Name Column -->
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.carreraNombre}} </td>
                    </ng-container>
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button (click)="editarCarrera(element.id, element.carreraNombre)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="edit">edit</mat-icon>
                            </button>
                            <!-- <button (click)="eliminarCarrera(element, element.id, element.carreraNombre)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon  class="delete-button">remove</mat-icon>
                            </button> -->
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
    <button mat-raised-button (click)="nuevaCarrera()" class="demo-button mt-3">
        <mat-icon class="icon-add">add</mat-icon>
    </button>
</div>


<app-off-canvas></app-off-canvas>