<div  #miDiv [@deslizar]="estadoAnimacion" class="row mb-5">
    <div @slideIn class="d-flex justify-content-center">
        <div class="col col-lg-11">
            <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            
            <div class="carousel-inner">
                <!-- Mison -->
                <div class="carousel-item active">
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <button [disabled]="!isButtonEnabled" (click)="expandArrow()" data-bs-toggle="modal" data-bs-target="#Mision">
                                <h1>Misión</h1>
                            </button>
                            <mat-icon *ngIf="isButtonEnabled && !isExpanded; else noExpand" class="arrow  mt-2" fontIcon="expand_more"></mat-icon>
                            <ng-template #noExpand>
                                <mat-icon class="arrow  mt-2" fontIcon="expand_less"></mat-icon>                            
                            </ng-template>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="col-8 mb-5 d-none d-sm-block">
                                <h6>
                                    La Misión de la Facultad de Ciencias de la Electrónica es formar 
                                    profesionales íntegros, socialmente responsables, propositivos, capaces de gestionar su propio aprendizaje de manera crítica y libre, en espacios educativos de calidad para el desarrollo humano sustentable, generando en ellos habilidades de gestión y
                                    desarrollo del conocimiento científico y tecnológico en las áreas de Electrónica Mecatrónica Y Automatización.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Vision -->
                <div class="carousel-item">
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <button [disabled]="!isButtonEnabled" (click)="expandArrow()"  data-bs-toggle="modal" data-bs-target="#Vision">
                                <h1>Visión</h1>
                            </button>
                            <mat-icon *ngIf="isButtonEnabled && !isExpanded; else noExpand" class="arrow  mt-2" fontIcon="expand_more"></mat-icon>
                            <ng-template #noExpand>
                                <mat-icon class="arrow  mt-2" fontIcon="expand_less"></mat-icon>                            
                            </ng-template>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="col-8 mb-5 col-8 mb-5 d-none d-sm-block">
                                <h6>
                                    En la Facultad de Ciencias de la Electrónica nos visualizamos como una comunidad de aprendizaje solidario e integrada 
                                    plenamente con el entorno regional por la capacidad y diversidad de proyectos tecnológicos y científicos de alto impacto 
                                    que desarrollan y aplican los estudiantes y académicos con ética y espíritu de servicio.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Humano -->
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col mt-3 d-flex justify-content-center">
                            <button [disabled]="!isButtonEnabled" (click)="expandArrow()" data-bs-toggle="modal" data-bs-target="#Humanos">
                                <h1>Humanos</h1>
                            </button>
                            <mat-icon *ngIf="isButtonEnabled && !isExpanded; else noExpand" class="arrow mt-2" fontIcon="expand_more"></mat-icon>
                            <ng-template #noExpand>
                                <mat-icon class="arrow  mt-2" fontIcon="expand_less"></mat-icon>                            
                            </ng-template>
                        </div>
                    </div>                  
                    <div class="row">
                        <div class="col center_text d-none d-sm-block">
                            <ul>
                                <h6>
                                    <li>Responsabilidad</li>
                                    <li>Etica</li>
                                    <li>Respeto</li>
                                    <li>Colaboración</li>
                                </h6>
                            </ul>
                        </div>
                        <div class="col center_text d-none d-sm-block">
                            <ul>
                                <h6>
                                    <li>Tolerancia</li>
                                    <li>Espíritu de Servicio</li>
                                    <li>Solidaridad</li>
                                </h6>
                            </ul>
                        </div>
                    </div>  
                </div>

                <!-- Estrategico -->
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col mt-3 d-flex justify-content-center">
                            <button [disabled]="!isButtonEnabled" (click)="expandArrow()" data-bs-toggle="modal" data-bs-target="#Humanos">
                                <h1>Estratégicos</h1>
                            </button>
                            <mat-icon *ngIf="isButtonEnabled && !isExpanded; else noExpand" class="arrow  mt-2" fontIcon="expand_more"></mat-icon>
                            
                        </div>
                    </div>                  
                    <div class="row">
                        <div class="col center_text d-none d-sm-block">
                            <ul>
                                <h6>
                                    <li>Planeación</li>
                                    <li>Innovación</li>
                                    <li>Emprendimiento</li>
                                    <li>Mejora Continua</li>
                                </h6>
                            </ul>
                        </div>
                        <div class="col center_text d-none d-sm-block">
                            <ul>
                                <h6>
                                    <li>Sinergia</li>
                                    <li>Sustentabilidad</li>
                                    <li>Aprendizaje</li>
                                </h6>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
    
</div>


  <!-- Mision Modal -->
  <div class="modal fade" id="Mision" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Misión</h1>
          <button type="button" (click)="expandLess()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            La Misión de la Facultad de Ciencias de la Electrónica es formar 
            profesionales íntegros, socialmente responsables, propositivos, capaces de gestionar su propio aprendizaje de manera crítica y libre, en espacios educativos de calidad para el desarrollo humano sustentable, generando en ellos habilidades de gestión y
            desarrollo del conocimiento científico y tecnológico en las áreas de Electrónica Mecatrónica Y Automatización.
          </p>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Vision Modal -->
  <div class="modal fade" id="Vision" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Vision</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            En la Facultad de Ciencias de la Electrónica nos visualizamos como una comunidad de aprendizaje solidario e integrada 
            plenamente con el entorno regional por la capacidad y diversidad de proyectos tecnológicos y científicos de alto impacto 
            que desarrollan y aplican los estudiantes y académicos con ética y espíritu de servicio.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Estrategicos Modal -->
  <div class="modal fade" id="Estrategicos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Estratégicos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
                <p>
                    <li>Planeación</li>
                    <li>Innovación</li>
                    <li>Emprendimiento</li>
                    <li>Mejora Continua</li>
                    <li>Sinergia</li>
                    <li>Sustentabilidad</li>
                    <li>Aprendizaje</li>
                </p>
            </ul>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Humanos Modal -->
  <div class="modal fade" id="Humanos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Humanos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
                <p>
                    <li>Responsabilidad</li>
                    <li>Etica</li>
                    <li>Respeto</li>
                    <li>Colaboración</li>
                    <li>Tolerancia</li>
                    <li>Espíritu de Servicio</li>
                    <li>Solidaridad</li>
                </p>
            </ul>
        </div>
        
      </div>
    </div>
  </div>