<div class="row">
    <div class="d-flex justify-content-center">
        <div class="col col-lg-11">
            <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <h1>Misión</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="col-8 mb-5">
                                <h5>
                                    La Misión de la Facultad de Ciencias de la Electrónica es formar 
                                    profesionales íntegros, socialmente responsables, propositivos, capaces de gestionar su propio aprendizaje de manera crítica y libre, en espacios educativos de calidad para el desarrollo humano sustentable, generando en ellos habilidades de gestión y
                                    desarrollo del conocimiento científico y tecnológico en las áreas de Electrónica Mecatrónica Y Automatización.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <h1>Visión</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="col-8 mb-5">
                                <h5>
                                    En la Facultad de Ciencias de la Electrónica nos visualizamos como una comunidad de aprendizaje solidario e integrada 
                                    plenamente con el entorno regional por la capacidad y diversidad de proyectos tecnológicos y científicos de alto impacto 
                                    que desarrollan y aplican los estudiantes y académicos con ética y espíritu de servicio.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
        
                        <div class="col">
                            <div class="row">
                                <div class="col mt-3 center_text">
                                    <h1>
                                        Humanos
                                    </h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col center_text">
                                    <ul>
                                        <h5>
                                            <li>Responsabilidad</li>
                                            <li>Etica</li>
                                            <li>Respeto</li>
                                            <li>Colaboración</li>
                                            <li>Tolerancia</li>
                                            <li>Espíritu de Servicio</li>
                                            <li>Solidaridad</li>
                                        </h5>
                                    </ul>
                                </div>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="row">
                                <div class="col mt-3 center_text">
                                    <h1>
                                        Estratégicos
                                    </h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col center_text">
                                    <ul>
                                        <h5>
                                            <li>Planeación</li>
                                            <li>Innovación</li>
                                            <li>Emprendimiento</li>
                                            <li>Mejora Continua</li>
                                            <li>Sinergia</li>
                                            <li>Sustentabilidad</li>
                                            <li>Aprendizaje</li>
                                        </h5>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
    
</div>


