<div class="container editar-dashboard" id="inicio">
    <div class="row Titular-dashboard">
        <div class="col-3">
            <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa-solid fa-angles-right fa-xl"></i>
            </button>
        </div>
        <div class="col-6 text-center">
            <h3>{{navNombre}}</h3>
        </div>
        
    </div>
    <div class="row">
        <div class="col-6 mt-3">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
            <!-- <button mat-raised-button (click)="nuevaCarrera()" class="demo-button ms-3">
                Añadir
            </button> -->
        </div>
        <div class="col-4">
            
        </div>
            
        <div class="row">
            <div class="col">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">    
                    <!-- Name Column -->
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.ad.nombreArchivo}} </td>
                    </ng-container>
                    
                    <!-- Imagenes -->
                    <ng-container matColumnDef="Imagenes">
                        <th mat-header-cell *matHeaderCellDef> Imagenes </th>
                        <td mat-cell class="image-placeholder" *matCellDef="let element"> 
                            <img class="img" [src]="element.safeUrl" alt="">
                        </td>
                    </ng-container>

                    <!-- Acciones Column -->
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button (click)="editarAds(element.ad.id, element.ad.nombreArchivo)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="edit">edit</mat-icon>
                            </button>
                            <button (click)="eliminarCarrera(element.ad.id)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="delete-button">remove</mat-icon>
                            </button>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 justify-content-end mt-3">
            <button (click)="postAd()" mat-raised-button>
                <mat-icon  class="icon-add">add</mat-icon>
            </button>
        </div>
    </div>
</div>


<app-off-canvas></app-off-canvas>