<div class="row">
    <div class="col-12 ps-3 my-2">
        <a class="btn btn-hover w-100" [routerLink]="['/admin/anuncios']" [queryParams]="{nombre: 'Anuncios'}" routerLinkActive="active-link">
            <h6 class="navs m-2">Tablero de Anuncios</h6>
        </a>
    </div>
    <div class="col-12 ps-3 my-2">
        <a class="btn btn-hover w-100" [routerLink]="['/admin/inicio']" [queryParams]="{nombre: 'Licenciaturas'}" routerLinkActive="active-link">
            <h6 class="navs m-2">Licenciaturas</h6>
        </a>
    </div>
    <div class="col-12 ps-3 my-2">
        <a class="btn btn-hover w-100">
            <h6 class="navs m-2">Redes sociales</h6>
        </a>
    </div>
    <div class="col-12 ps-3 my-2">
        <a class="btn btn-hover w-100" [routerLink]="['/admin/tablero-profesores']" [queryParams]="{nombre: 'Profesores'}" routerLinkActive="active-link">
            <h6 class="navs m-2">Profesores</h6>
        </a>
    </div>
</div>