<div class="row btn-hover my-2" [routerLink]="['/admin/anuncios']" routerLinkActive="active-link">
    <button class="btn custom-btn">
        <mat-icon>dashboard</mat-icon>
        Anuncios
    </button>
</div>
<div class="row btn-hover my-2" [routerLink]="['/admin/inicio']" routerLinkActive="active-link">
    <button class="btn custom-btn">
        <mat-icon>article</mat-icon>
        Licenciaturas
    </button>
</div>

<div class="row btn-hover my-2 " [routerLink]="['/admin/tablero-profesores']" [queryParams]="{nombre: 'Profesores'}" routerLinkActive="active-link">
    <button class="btn custom-btn">
        <mat-icon>groups</mat-icon>
        Profesores
    </button>
</div>

<div class="row btn-hover my-2 " [routerLink]="['/admin/tablero-usuarios']" [queryParams]="{nombre: 'Usuarios'}" routerLinkActive="active-link">
    <button class="btn custom-btn">
        <mat-icon>group</mat-icon>
        Usuarios
    </button>
</div>

