<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Editar</h2>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <h6 class="navs" (click)="verTableroAnuncios()">Tablero de Anuncios</h6>
      <h6 class="navs" (click)="verLicenciaturas()">Licenciaturas</h6>
      <h6 class="navs">Redes sociales</h6>
      <h6 class="navs" (click)="verProfesores()">Profesores</h6>
    </div>
</div>