
.navs {
    padding: 1em;
    border-radius: 1%;
}
.navs:hover {
    background-color: var(--gris-t2);
    border-radius: 5px;
}

.edit {
    color: var(--editar);
}

.navs {
    cursor: pointer;
}

.active-link {
    background-color: var(--gris-t2);
    font-weight: bold;
}