<nav class="navbar fixed-top navbar-expand-lg " data-bs-theme="dark" [class.header-visible]="headerVisible">
    <div class="container-fluid">
      <img class="logo" src="./../../../assets/images/footer_buap_logo.png" alt="" (click)="desplazarAInicio()">

      <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <mat-icon class="menu" fontIcon="menu"></mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
      </ul>
        
        <!-- Botón de usuario para cerrar sesión -->
      <ul *ngIf="isLogged" class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light" (click)="adminPanel()">Administrar</button>
        </li>
      </ul>

      </div>
    </div>
  </nav>
