.dashboard-background {
    align-items: center;
    display: flex;
    background-image: url("src\assets\images\Fce_fondo.jpg");
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

/* Luego se movera a el componente */
.carreras-centered {
    color: aliceblue;
    
}

.border_red{
    border-style: solid;
    border-color: rebeccapurple;
}

.btn-primary {
    background-color: var(--azul_calro);
    border-color: transparent;
}

.arrow {
    font-size: 60px;
    color: var(--neutro);
    cursor: pointer;
    width: 60px; 
    height: 60px;
}

.arrow_left {
    transform: rotate(180deg);
}

.arrow:hover {
    color: var(--neutro_activo);
}

.texto_centrado {
    text-align: center;
}
