<app-header></app-header>
<div class="dashboard-background mb-5">
    <div class="row">
        <div class="col">
            <mat-icon class="arrow arrow_left" fontIcon="arrow_right"></mat-icon>
        </div>
    </div>

    <div class="carreras-centered">
        <div class="row">
            <div class="col">
                <h1>Licenciatura en ...</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col texto_centrado">
                <h3>Vive la experiencia</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-evenly">
                    <button type="button" class="btn btn-primary btn-lg">Primary</button>
                    <button type="button" class="btn btn-primary btn-lg">Primary</button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-icon class="arrow" fontIcon="arrow_right"></mat-icon>
        </div>
    </div>
    
</div>

<app-carousel-mision-vision></app-carousel-mision-vision>

<div class="row justify-content-center mb-3">
    <div class="col text-center">
        <h1>
            Licenciaturas
        </h1>
    </div>
</div> 

<div *ngFor="let carrera of carreras">
    <app-carreras [carrera]="carrera"></app-carreras>
</div>