.dashboard-background {
    align-items: center;
    display: flex;
    background-image: url("src\assets\images\Fce_fondo.jpg");
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.image{    
    background-image: url("src\assets\images\TableroAnuncios\Licenciaturas.jpg");
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh;
    width: 100%;
}

.tablero_anuncios {
    color: var(--blanco);
}

.btn-primary {
    background-color: var(--azul_calro);
    border-color: transparent;
}

.arrow {
    font-size: 60px;
    color: var(--neutro);
    cursor: pointer;
    width: 60px; 
    height: 60px;
}

.arrow_left {
    transform: rotate(180deg);
}

.arrow:hover {
    color: var(--neutro_activo);
}

.texto_centrado {
    text-align: center;
}

.google-map {
    background-color: var(--azul_obscuro);
    color: var(--blanco);
  }


/* Carreras Card */
.image-cover {
    background-image: url('../../../assets/images/Fce_fondo.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh;
}

.image-holder {
    padding: 0%;
}

.card {
    padding: 0%;
}

.card:hover {
    background-color: var(--neutro_activo);
    transform: scale(1.01);
}


@media (max-width: 600px) {
    .nombre{
        margin-top: 1em;
        margin-left: 1em;
    }

}