
html, body { 
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--neutro);
}
:root {
    /* Tamaño de letra */
    --parrafo: 16px;
    --encabezado: 25px;
    --subtitulo: 48.8px;
    --titulo: 61px;

    /* Colores */
    --azul_calro: #00B5E2; 
    --azul_obscuro: #003B5C;
    --negro: #000000;
    --negro_translucido: #0505055e;
    --blanco: #FFFFFF;
    --blanco_t1: hsl(0, 17%, 98%);
    --neutro: #f2f7f8;
    --neutro_activo: #dbe8eb;
    --boton_activo: #02A0C7; 

    
}

h1 {
    font-size: var(--titulo); 
}
 
h2 {
    font-size: var(--subtitulo); 
}
 
h5 {
    font-size: var(--encabezado);
}

.translucido {
    color: var(--negro_translucido);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; /* o el color del fondo de tu página */
}

::-webkit-scrollbar-thumb {
    background: var(--neutro); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--azul_calro);
}
