.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.arrow-button{
    width: 48px; 
    height: 48px;
}

.edit-placeholder {
    height: 100vh;
}

.content-container {
    display: flex; /* Flexbox para alinear elementos en fila */
    flex-direction: row; /* Dirección de los elementos en fila (horizontalmente) */
    align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
    justify-content: center;
    flex-grow: 1; /* Permite que este div crezca para llenar el espacio disponible */
    padding-left: 10px; /* Añadir padding para separar el contenido del botón si es necesario */
}

.content-container h3, .content-container h2 {
    margin: 0; /* Quita el margen por defecto */
    padding-right: 10px; /* Espacio entre los elementos */
}


button mat-icon.icon-add {
    margin: 0px; /* Ajusta según tus necesidades */
}
  
