<div class="container mt-5 ">
    <div class="row">
        <div class="col mt-5 text-center">
            <h2>Nueva Licenciatura</h2>  
        </div>
    </div>
    <div class="row">
        <!-- Nombre carrera -->
        <div class="col-12 mb-3 mt-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h3>Nombre Carrera</h3>
            </label>
            <textarea class="form-control" 
                [(ngModel)]="nuevaCarrera!.carreraNombre"
                id="exampleFormControlTextarea1" rows="1"></textarea>
        </div>
        
    </div>
    <mat-divider class="mt-3"></mat-divider>

    <!-- Mision -->
    <div class="row mt-3">
        <div class="col-12 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h3>Misión</h3>
            </label>
            <textarea [(ngModel)]="nuevaCarrera!.mision" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
    </div>
    <!-- Vision -->
    <div class="row">
        <div class="col-12 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h3>Visión</h3>
            </label>
            <textarea [(ngModel)]="nuevaCarrera!.vision" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
    </div>
    <mat-divider class="mt-3"></mat-divider>

    <!-- Objetivos -->
    <div class="row mt-3">
        <div class="col-12 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h3>Objetivos</h3>
            </label>
            <textarea 
            
            class="form-control" [(ngModel)]="nuevaCarrera!.objetivos" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>

    <mat-divider class="mt-3"></mat-divider>

    <!-- Descripcion -->
    <div class="row mt-3">
        <div class="col-12 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h3>Descripcion</h3>
            </label>
            <textarea 
            class="form-control" [(ngModel)]="nuevaCarrera!.descripcion" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>

    <mat-divider class="mt-3"></mat-divider>

    <!-- Atributos -->
    <div class="col text-center mt-3">
        <label for="exampleFormControlTextarea1" class="form-label">
            <h3> Atributos </h3>
        </label>
    </div>

    <!-- Atributos de egreso -->
    <div class="row">
        <div class="col">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h5><strong>Atributos de Egreso</strong></h5>
            </label>
              
            <div class="demo-button-container ">
                <button (click)="addAtributos()" mat-raised-button class="demo-button me-3">
                  Añadir
                </button>
            </div>
            
            <div class="input-group mt-3">
            <span class="input-group-text">Atributo: </span>
            <textarea [(ngModel)]="atributoNuevo.descripcion" class="form-control" aria-label="With textarea"></textarea>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table mt-3">              

            <ng-container matColumnDef="atributos">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
            </ng-container>

            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon class="edit">edit</mat-icon>
                    </button>
                    <button (click)="removeData(i)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon class="delete-button">remove</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
        </div>
    </div>

    <!-- Objetivos educacionales -->
    <div class="row mt-5">
        <div class="col">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h5><strong>Objetivos educacionales</strong></h5>
            </label>
            <div class="demo-button-container ">
                <button (click)="addObjetivos()" mat-raised-button class="demo-button me-3">
                    Añadir
                </button>    
            </div>
              
            <div class="input-group mt-3">
                <span class="input-group-text">Atributo: </span>
                <textarea [(ngModel)]="objetivoEducacionalNuevo.descripcion" class="form-control"  aria-label="With textarea"></textarea>
            </div>

            <table mat-table [dataSource]="dataSourceObejtivosEduc" class="mat-elevation-z8 demo-table mt-3">              

                <ng-container matColumnDef="atributos">
                    <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                    <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element, let i = index">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon class="edit">edit</mat-icon>
                        </button>
                        <button (click)="removeObjetivos(i)"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon  class="delete-button">remove</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
        </div>
    </div>

    <!-- Competencia especifica -->
    <div class="row mt-5">
        <div class="col">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h5><strong>Competencias específicas</strong></h5>
            </label>
            <div class="demo-button-container ">
                <button (click)="addCompetencia()" mat-raised-button class="demo-button me-3">
                    Añadir
                </button>    
            </div>
              
              <div class="input-group mt-3">
                <span class="input-group-text">Atributo: </span>
                <textarea [(ngModel)]="competenciasNuevo.descripcion" class="form-control" aria-label="With textarea"></textarea>
              </div>

              <table mat-table [dataSource]="dataSourceCompetencias" class="mat-elevation-z8 demo-table mt-3">              
 
                <ng-container matColumnDef="atributos">
                  <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                  <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element, let i = index">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon class="edit">edit</mat-icon>
                        </button>
                        <button (click)="removeCompetenciasEspecificas(i)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon  class="delete-button">remove</mat-icon>
                        </button>
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table> 
        </div>
    </div>

    <mat-divider class="mt-3"></mat-divider>
    <!-- Plan de estudios -->
    <div class="row mt-3">
        <div class="col text-center">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h3>Plan de estudios</h3>
            </label>
        </div>
        <!-- Catalogo de asig -->
        <div class="row">
            <div class="col ">
                <label for="basic-url" class="form-label"><h5>Catálogo de Asignaturas</h5></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://</span>
                    <input 
                     type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                </div>
            </div>
        </div>
        
        <!-- Mapa tutorial -->
        <div class="row">
            <div class="col ">
                <label for="basic-url" class="form-label mt-4"><h5>Mapa tutorial</h5></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://</span>
                    <input  
                    type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                </div>
            </div>
        </div>
        
        <!-- List materias -->
        <div class="row">
            <div class="col ">
                <label for="basic-url" class="form-label mt-4"><h5>Listado de materias</h5></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://</span>
                    <input  
                    type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                </div>
            </div>
        </div>
        
        
        <!-- List de MOptativas -->
        <div class="row mb-3">
            <div class="col ">
                <label for="basic-url" class="form-label mt-4"><h5>Listado de materias optativas</h5> </label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://</span>
                    <input 
                     type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                </div>
            </div>
        </div>
    </div>


    <mat-divider class="mt-3"></mat-divider>
    
    <div class="row">
        <div class="col text-center mt-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h3><strong>Contacto</strong></h3>
            </label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h5>Profesores</h5>
        </div>
    </div>
    
<!-- 
    <div class="col-12 mt-3 mb-3">
        <button (click)="cambiarProfesor()" mat-raised-button>Guardar</button>
    </div> -->

</div>

<div class="row">
    <div class="col text-center">
        <button (click)="postLicenciatura()" mat-raised-button>Guardar</button>
    </div>
</div>